/* Default Settings */
*{
    /* Ease of use */
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
}

body {
background-image: linear-gradient(#2f2d2d, #1e1c1c);
/* background-color: #2f2d2d; */
background-repeat: no-repeat;
margin-left: 0;
margin-right: 0;
margin-top: 0;
margin-bottom: 70px;
height: fit-content;
min-height: 100vh;
}

header{
    position: fixed;
display: flex;
justify-content: column;

/* colour and decoration */
background-color: #cc2c2c;
box-shadow: 0rem 0.05rem 0.8rem #0d0c0c;
}

h1{
    display: flex;
    justify-content: center;
    font-weight: normal;
}

nav{
    /* flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    /* border margin */
    width: 100vw;    
    /* Colour and Style */
}

main {
    display: flex;
    flex-direction: column;
    /* margin-top: 1rem; */
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 100px;
}

footer{
    /* position */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 2.5rem;
    /* Flexbox */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* Colour and Style */
    background-color: #cc2c2c;
    box-shadow: 0rem -0.05rem 0.8rem #0d0c0c;
}

img{
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    box-shadow: 1px 1px 10px red;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding-left: 35px;
  }
  

/* CLASSES */

.nav-button{
    display: block;
    text-align: center;
    padding: 1rem 1rem;
    padding-bottom: 2rem;
    /* Colour and Decor */
    text-decoration:none;
    color: white;
    background-color: #cc2c2c;
}


.nav-button:hover{
    background-color: #ddd;
    color: black;
}

.nav-button:active {
    background-color:white ;
    color: #cc2c2c;}

.sec-post{
        border: solid black;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1em;
        margin-bottom: 1em;
    }



.red-words{
    font-weight: bold;
    color: #cc2c2c;
}

.cent-para{
    text-align:left;
    margin-bottom: 0;
}

/* IDs */

#signed{
    padding-right: 1rem;
    font-size: 50%;
    }



    /* Media Queries */

    /* Desktop Adjustments */
@media screen and (min-width: 821px){

nav{
    flex-direction: row;
    justify-content: flex-start;
}

.nav-button{
    margin-right: 2px;
}

}